<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>
</head>
<body>

<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Commentaire</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>

			<tr th:each="avi : ${ listeAvis }" th:with="idA=${avi.id}">
				<th scope="row" th:text="'Id :' + ${ idA } "></th>
				<td th:text="'Commentaire :' + ${ avi.commentaire } "></td>
				
				
				<td>
					<a th:href="'delete/' + ${idA} "><button type="button" class="btn btn-outline-danger">Supprimer</button></a> 						
					<a th:href="'update/' + ${idA} "><button type="button" class="btn btn-info">Modifier</button></a>
			  </td>
			</tr>


		</tbody>

	</table>
</body>
</html>